.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.btn-icon {
	line-height: 1;
}
.navbar-light .navbar-nav .nav-link {
	color: rgb(52, 143, 220);
}
.navbar-light .navbar-nav .nav-link:hover {
	color: rgba(0,0,0,.5);
	border-bottom: solid rgb(52, 143, 220) 2px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	color: rgba(52, 143, 220, 0.6);
	border-bottom: solid rgb(52, 143, 220) 2px;
}
.google-login-button {
	
}
.card-header:first-child {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 0;
	background-color: rgb(247,247,247);
}
.card-text.appointment-title {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 73px;
	background-color: #ffffff;
}
.underline {
	text-decoration: underline;
}
.appointment-subtitle {
	padding-left: 2%;
	margin-bottom: 0px;
}
.appointment-text {
	padding-left: 5%;
	margin-bottom: 0.5rem;
}
div#appointmentAccordion div.collapse:not(:first-child) {
}
.appointment-title:not(:first-child) {
	padding-top: 2%;
	margin-top: 3%;
	border-top: solid #bfbaba 1px;
}
.info-text {
	margin-bottom: 0.2rem;
	color: #359aec;
	font-size: medium;
}
.align-center {
	text-align: center;
}