<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Fecha Nacimiento</th>
			<th>Seguro</th>
			<th>Correo</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let patient of patients">
			<td>{{patient.lastNameP}} {{patient.lastNameM}}, {{patient.name}}</td>
			<td>{{patient.birthDate | date : 'd/MM/yy'}}</td>
			<td>{{patient.insurance}}</td>
			<td>{{patient.email}}</td>
			<td>
				<button type="button" class="btn btn-outline-primary" (click)="onSelect(patient)"><i class="fas fa-file-medical-alt"></i></button>
				<button type="button" class="btn btn-outline-info"><i class="fas fa-plus-square"></i></button>
				
			</td>
		</tr>
	</tbody>
</table>

<app-patient-detail [patient]="selectedPatient"></app-patient-detail>